@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montreal;
  src: url(./NeueMontreal-Regular.ttf);
}

@font-face {
  font-family: Grotesk;
  src: url(./FoundersGrotesk-Semibold.ttf);
}